language: objective-c
osx_image: xcode6.4

notifications:
    email:
        - d@dvor.me
        - chuongv@gmail.com


before_install:
    - gem install slather -N
    - gem install cocoapods
    # fixing issue with homebrew https://github.com/Homebrew/homebrew/issues/42553
    - brew update; brew update
    - brew install uncrustify
    - pod install

script:
    - xctool -workspace objcTox.xcworkspace -scheme objcToxDemo -sdk iphonesimulator GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES GCC_GENERATE_TEST_COVERAGE_FILES=YES clean test
    - ./run-uncrustify.sh --check

after_success:
    - slather
