language: objective-c

before_install:
    - gem install slather -N
    - brew update
    - brew unlink xctool
    - brew install xctool
    - brew install uncrustify
    - pod install

script:
    - xctool -workspace objcTox.xcworkspace -scheme objcToxDemo -sdk iphonesimulator GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES GCC_GENERATE_TEST_COVERAGE_FILES=YES clean test
    - ./run-uncrustify.sh --check

after_success:
    - slather
