language: objective-c
osx_image: xcode6.4

notifications:
    email:
        - d@dvor.me
        - chuongv@gmail.com


before_install:
    - gem install slather -N
    - gem install cocoapods
    - brew update
    - brew unlink xctool
    - brew install xctool
    - brew install uncrustify
    - pod install

script:
    - xctool -workspace objcTox.xcworkspace -scheme objcToxDemo -destination 'platform=iOS Simulator,name=iPhone 6' -sdk iphonesimulator GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES GCC_GENERATE_TEST_COVERAGE_FILES=YES clean test
    - ./run-uncrustify.sh --check

after_success:
    - slather
